.DrawerToggle {
  width: 25px;
  height: 75%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 15px;
}

.DrawerToggle div {
  width: 90%;
  height: 2px;
  background-color: white;
  border-radius: 25px;
}
