.Footer {
  clear: both;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #f1c6de;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  padding: 5rem;
}

.Footer p {
  /* font-weight: bold; */
  /* color: #c02739; */
}
